/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
                                                                                
html      
  background-color: #EEE
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
  
html, body
  margin: 0px
  padding: 0px   
  

#source_view
  width: 25%  
  float: left
#chat
  width: 75% 
  float: left
  
  
#publisher
  width:  100%  
  input          
    font-size:  16px
    padding:    8px
    width:      100%