
!!!
html
  head
    title= title
    script(src="/javascripts/vendor/underscore-min.js")
    script(src="/javascripts/vendor/spine-min.js")
    // script(src="/javascripts/spine.ajax.js")
    script(src="/javascripts/vendor/jquery.min.js") 
    script(src="/javascripts/vendor/date.js")
    script(src="/javascripts/vendor/jquery.timeago.js")
    script(src="//scripts.embed.ly/jquery.embedly.min.js")
    link(rel='stylesheet', href='http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css')
    link(rel='stylesheet', href='/stylesheets/scrollbars.css')
    link(rel='stylesheet', href='/stylesheets/screen.css')                                    
    
    script(src="/live.js")
    script(src="/application.js")
  body!= body
