.split
  #source_view           
    p
      a
        img(src="https://graph.facebook.com/"+everyauth.facebook.user.id+"/picture?type=square", height=35)

    ul
      li
  #chat
    ul.messages
      li hello      
    #publisher
      form
        input.body(type='text')