.split

  #source_view           
    button.hide
      img(src='/images/close-pane-16.png')
    p
        img(src="https://graph.facebook.com/"+everyauth.facebook.user.id+"/picture?type=square", height=35)

    ul
      li


  #chat
    ul.messages
    #publisher     
      form
        input.body(type='text')
      p.options                     
        label
          \ Show embedded content 
          input(type='checkbox')