
!!!
html
  head
    title= title
    script(src="/javascripts/vendor/underscore-min.js")
    script(src="/javascripts/vendor/jquery.min.js")
    link(rel='stylesheet', href='http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css')
    link(rel='stylesheet', href='/stylesheets/scrollbars.css')
    link(rel='stylesheet', href='/stylesheets/screen.css')
  body!= body