
!!!
html
  head
    title= title
    script(src="/javascripts/date.js")
    script(src="/javascripts/underscore-min.js")
    script(src="/javascripts/spine-min.js")
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/jquery.timeago.js")
    link(rel='stylesheet', href='http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css')
    link(rel='stylesheet', href='/stylesheets/scrollbars.css')
    link(rel='stylesheet', href='/stylesheets/screen.css')
    script(src="/live.js")
    script(src="/application.js")
    script(src="/javascripts/logger.js")
  body!= body