%form{action: '/auth/identity/register', method: 'post'}
  %input{type: 'text', name: 'email'}
  %input{type: 'password', name: 'password'}
  %input{type: 'password', name: 'password_confirmation'}
  %input{type: 'submit'}
